<nav class="navbar navbar-right" role="navigation">
        <div class="container-fixed ">
        
            <div class="navbar-header">
                
                <ul class="nav navbar-nav card" style="background-color:white;">
                
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                   <li><a href="/irrigation">Irrigation</a></li>
                    <li><a href="/report">Report</a></li>
                    <li><a href="/settings">Settings</a></li>
                </ul>
            </div>
        
        </div>
        </nav>
     <!--   <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  This is an alert box.
</div>
-->