<nav class="navbar   navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid ">
        
        <div class=" navbar-brand">
        <ul  class="nav navbar-nav card navbar-left" style="background-color:white;">
      <il>  <a href="/" style="background-color:white;"><strong>AgriAuto</strong></a></il>
</ul>
        </div>
            <div class="navbar-header navbar-right">
                
                <ul class="nav navbar-nav card navbar-right" style="background-color:white;">
                
                    <li><a href="/"><strong>Home</strong></a></li>
                    <li><a href="/about"><strong>About</strong></a></li>
                   <li><a href="/irrigation"><strong>Irrigation</strong></a></li>
                    <li><a href="/report"><strong>Report</strong></a></li>
                    <li><a href="/settings"><strong>Settings</strong></a></li>
                    <li><a href="/signout"><strong>Log out</strong></a></li>
                </ul>
            </div>
        
        </div>
        </nav>
     <!--   <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  This is an alert box.
</div>
-->