<html>
  <head>
  <% include ./partials/head.ejs %>
  <style>

thead{background-color: #4CAF50;}
</style>
  </head>

  <body>
  <header>
  <% include ./partials/header.ejs %>

  <link rel="stylesheet" type="text/css" href="../assets/login.css">
 

   
  <script>
  $(function(){
    $('[type="date"].min-today').prop('min', function(){
        return new Date().toJSON().split('T')[0];
    });
});

function saveSchedule(){
   var x= $("#dates").valueAsDate;
   console.log(document.getElementById('dates').value);
   console.log(document.getElementById('time').value);
   console.log(new Date(Date.now()));
   var scheduletime="wwe"
var addtime= new Date(Date.now()).toLocaleString();
//    var data ="farmid=" + <%fid%> + "&siteid=" + <%=sid%> + "&scheduletime="+scheduletime+"&addtime="+addtime;
   var url="";

   
}

function AjaxRequestSimple(url, data) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", url, true);
    xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {


            console.log(this.responseText);
            // console.log(this.responseText.length);
           
         
        } else {
            console.log("error in output: " + this.responseText);

        }
    };

    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

    xhttp.send(data);

}
  </script>
</header>

<div class="login-page" id="login-page">
    <div class="form">
   
    <input name="date" type="date" id="dates" placeholder="DD-MM-YYY" class="min-today" required="true" autocomplete/>
    <input type="time" id="time" name="ttime" placeholder="" value="00:00" autofill/>
  
    <button  onclick="saveSchedule()">Save Schedule</button>
  


 


</div>
</div>
  </body>
<html>