<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="../assets/setFarm.css">

</head>

<body>
<header>
    <% include ./partials/header %>
</header>
<div class="setFarm">
    <div class="form">
      <form  id ="forgotpassword" class="forgotPasswordForm" method="POST" action="/forgotPassword">
        <input name="u_email" type="email" placeholder="Email address" required="true"/>
        
        <button type="submit" oclick= $document.getElementById('msg').innerHTML= "Check Email" >Reset Password</button>
       <p id="msg"></p>
      </form>
     
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<footer>
    <% include ./partials/footer %>
</footer>
</body>

</html>