<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>

</head>

<body>
  <link rel="stylesheet" type="text/css" href="../assets/login.css">
  <header>
    <% include ./partials/header %>
  </header>

  <div id="demo">
    <h2>The XMLHttpRequest Object</h2>
    <button type="button" onclick="loadDoc()">Change Content</button>
    </div>
    


    <%
    function loadDoc() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById("demo").innerHTML =
          this.responseText;
        }
      };
      xhttp.open("GET", "ajax_info.txt", true);
      xhttp.send();
    }
    %>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>
    $('.message a').click(function () {
      $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
    });

  </script>
  <footer>
    <% include ./partials/footer %>
  </footer>
</body>

</html>