<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>

</head>

<body>
  <link rel="stylesheet" type="text/css" href="../assets/login.css">
  <header>
    <% include ./partials/header %>
  </header>
  <style> /* set the CSS */

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
</style>
<body>


  <footer>
    <% include ./partials/footer %>
  </footer>
</body>

</html>