<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>

</head>
<link href="https://fonts.googleapis.com/css?family=Orbitron"
      rel="stylesheet">
<script src="//cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.5/all/gauge.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<script src="jquery.AshAlom.gaugeMeter-2.0.0.min.js"></script>
<body>
  <link rel="stylesheet" type="text/css" href="../assets/login.css">
  <header>
    <% include ./partials/header %>
  </header>

<canvas data-type="radial-gauge"
    data-width="200"
    data-height="200"
    data-units="Humidity %"
    data-min-value="0"
    data-max-value="100"
    data-major-ticks="0,20,40,60,80,100"
    data-minor-ticks="2"
    data-stroke-ticks="true"
    data-highlights='[
        {"from": 80, "to": 100, "color": "rgba(200, 50, 50, .75)"}
    ]'
    data-value="10" 
    data-label="Humidity "
    data-color-plate="#fff"
    data-border-shadow-width="0"
    data-borders="true"
    data-needle-type="arrow"
    data-needle-width="2"
    data-needle-circle-size="7"
    data-needle-circle-outer="  "
    data-needle-circle-inner="true"
    data-animation-duration="1500"
    data-animation-rule="linear"
></canvas>

<script>

var gauge = new RadialGauge({
    renderTo: 'canvas-id',
    width: 300,
    height: 300,
    units: "Km/h",
    minValue: 0,
    maxValue: 220,
    majorTicks: [
        "0",
        "20",
        "40",
        "60",
        "80",
        "100"
    ],
    minorTicks: 2,
    strokeTicks: true,
    highlights: [
        {
            "from": 160,
            "to": 220,
            "color": "rgba(200, 50, 50, .75)"
        }
    ],
    colorPlate: "#fff",
    borderShadowWidth: 0,
    borders: false,
    needleType: "arrow",
    needleWidth: 2,
    needleCircleSize: 7,
    needleCircleOuter: true,
    needleCircleInner: false,
    animationDuration: 1500,
    animationRule: "linear"
}).draw();
</script>
  <style> /* set the CSS */

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

</style>



  <footer>
    <% include ./partials/footer %>
  </footer>
</body>

</html>