<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head.ejs %> 
  <link rel="stylesheet" type="text/css" href="../assets/css/irrigation/irrigation.css">
</head>

<body>
<header>
<% include ./partials/header.ejs %>
</header>
  
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>



<footer>
<% include ./partials/footer.ejs %>
</footer>
</body>
</html>
