<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="../assets/css/irrigation/irrigation.css">
</head>

<body>
  <header>
    <% include ./partials/header.ejs %>
  </header>

  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
  <p><%=  irrigationmode  %></p>

  <div class="SelectedMode">
  
  </div>
  
<div class="AutoMode">
  
</div>
<div class="ScheduledMode">
  
</div>

<div class="ManualMode">
  
</div>








  <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
      if (!event.target.matches('.dropbtn')) {

        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>

  <footer>
    <% include ./partials/footer.ejs %>
  </footer>
</body>

</html>