<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <script>
    function checkPasswordMatch() {
    var password = $("#txtpassword").val();
    var confirmPassword = $("#txtconfirmpassword").val();

    if (password != confirmPassword){
        console.log("check fail");
       
      }
    else{
        
     
        console.log("check pass");}

}

$("#txtpassword, #txtconfirmpassword").keyup(checkPasswordMatch);
$(document).ready(function () {
   $("#txtpassword, #txtconfirmpassword").keyup(checkPasswordMatch);
     var val= '<%=err%>';

if(val){
toggleAlert();
val=null;
 }
});
  

 
 //Alert code
function toggleAlert(){
    $(".alert").toggleClass('in out'); 
    return false; // Keep close.bs.alert event from removing from DOM
}


// $("#btn").on("click", toggleAlert);
$('#bsalert').on('close.bs.alert', toggleAlert);

///alert code end

    </script>
</head>

<body>
<link rel="stylesheet" type="text/css" href="../assets/login.css">
<header>
  
</header><nav class="navbar   navbar-default p" role="navigation">
<div class="container-fluid ">
  <img height="100px" width="100px" src="../assets/favicon.png" style="padding-top=0px;"> </img>
 <div class="navbar-brand navbar-header nav navbar " style="">
        
     
            
        </div>
    <div class=" ">
    

</div>
</nav>

<div class="login-page" id="login-page">
 
   
    <div class="form">
 <div class="alert alert-danger fade out" id="bsalert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Error:</strong><span id="errorText"><%= err %></span> 
</div>
  

      <form class="register-form" method="POST" action="/signup">
     
      <input name="firstName" type="text" placeholder="First Name" required="true" title="first name" autocomplete/>
        <input name="middleName" type="text" placeholder="Middle Name" autocomplete/>
        <input name="lastName" type="text" placeholder="Last Name"  required="true" autocomplete/>
        <input name="phoneNumber" type="text" placeholder="Phone Number"  required="true" autocomplete/>
        <input name="u_email" type="email" placeholder="Email address" required="true" autocomplete/>
        <input class="txtpassword" id="txtpassword" name="password" type="password" placeholder="Password" required="true" autocomplete/>
        <input class="txtconfirmpassword" id="txtconfirmpassword" name="confirmPassword" type="password" placeholder="Confirm password" required="true" onChange="checkPasswordMatch();" autocomplete/>
    
        <button type="submit">Create Acount</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form" method="POST" action="/login" >
        <input name="u_email" type="email" placeholder="Email" autocomplete/>
        <input type="password"name="password" placeholder="password" autocomplete/>
       <a href="/forgotPassword" style="text-align:left; " class="forgotPasswordLink" >Forgot Password?</a>
        <button type="submit">login</button>
        <p class="message">Not registered? <a href="#">Create an account</a></p>
      </form>
    </div>
  </div>
  

  <script>
   
  $('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</script>
<footer>
    <% include ./partials/footer %>
</footer>
</body>

</html>