<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="../assets/setFarm.css">

</head>

<body>
<header>
    <% include ./partials/header %>
</header>
<div class="setFarm">
    <div class="form">
      <form class="farmForm" method="POST" action="/signup">
        <h3>Please contact Admin to set you Farm id</h3>
       
      </form>
     
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<footer>
    <% include ./partials/footer %>
</footer>
</body>

</html>